th,
td {
  text-align: center;
}

.products {
  width: 100%;
  table-layout: fixed;
  border-spacing: 4px;
  border-collapse: collapse;
  padding: 0 20px;

  &__header {
    font-weight: 600;
    padding: 12px 4px 12px 4px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }
  &__sort:hover {
    cursor: pointer;
    color: #55989a;
  }

  &__row:hover {
    box-shadow: 1px 1px 3px 3px #55989a;
  }

  &__row:nth-child(2n+1) {
    width: 100%;
    background-color: rgba(30, 183, 238, 0.1);
  }

  &__img-box {
    height: 40px;
  }

  &__img {
    max-width: 90%;
    max-height: 90%;
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #55989a;
  }
}